.personasCompleto {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    .ladoIzquierdo{
        width: 48%;
        .formContainer {
            display: flex;
            flex-direction: column;
            margin-left: 25px;
            margin-top: 25px;
            border-radius: 8px;
            box-shadow: 0 130px 52px rgba(0,0,0,.01), 0 8px 18px rgba(0,0,0,.1);
            padding: 20px 20px 25px ;
            button{
                margin-top: 20px;
                background-color: #eb192e;
            }
            .checkSocio{
                margin-top: 10px;
                .form-check{
                    margin-top: 10px;
                }
            }
        }
        .datosPrestamoContainer{
            display: flex;
            flex-direction: column;
            margin-left: 25px;
            margin-top: 20px;
            height: 300px;
            border-radius: 8px;
            box-shadow: 0 130px 52px rgba(0,0,0,.01), 0 8px 18px rgba(0,0,0,.1);
            padding: 20px 20px 25px ;
            .datosPrestamo{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                div{
                    margin-top: 11px;
                }
            }
        }
    }
    .ladoDerecho{
        display: flex;
        flex-direction: column;
        margin-right: 25px;
        margin-top: 25px;
        width: 48%;
        height: 652px;
        border-radius: 8px;
        box-shadow: 0 130px 52px rgba(0,0,0,.01), 0 8px 18px rgba(0,0,0,.1);
        padding: 20px 20px 25px ;
        .form-control{
            width: 50%;
        }
        button {
            background-color: #eb192e;
        }
        .datosPrestamoBusqueda{
            margin-top: 15px;
        }
    }
}
.buscarTodosContainer{
    display: flex;
    flex-direction: column-reverse;
    h2{
        margin-top: 35px;
        margin-left: 25px;
        text-decoration: overline;
    }
    .cardsPrestamo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        div{
            display: flex;
            flex-direction: column;
            margin-right: 15px;
            margin-top: 10px;
            border-radius: 8px;
            box-shadow: 0 130px 52px rgba(0,0,0,.01), 0 8px 18px rgba(0,0,0,.1);
            padding: 20px 20px 25px ;
            h4{
                text-decoration: overline;
            }
        }
    }
}