@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&family=Ubuntu:ital,wght@0,400;1,300&display=swap");
.carousel img {
  width: 100%;
  height: 740px;
}

.seccionCards {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccionCards .cardContainer {
  margin-top: 15px;
  display: flex;
}
.seccionCards .cardContainer .indexCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 130px 52px rgba(0, 0, 0, 0.01), 0 8px 18px rgba(0, 0, 0, 0.1);
  height: 150px;
  width: 260px;
  margin: 15px;
  padding: 20px 20px 9px;
}
.seccionCards .cardContainer .indexCard .cardTexto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.seccionCards .cardContainer .indexCard .cardTexto .cardTitulo {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 10px;
}
.seccionCards .cardContainer .indexCard .cardTexto .cardSubtitulo {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.seccionFinalIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.seccionFinalIndex .cardSimular {
  display: flex;
  flex-direction: row-reverse;
  background-color: #eb192e;
  margin-top: 25px;
  border-radius: 8px;
}
.seccionFinalIndex .cardSimular .simularCompleto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.seccionFinalIndex .cardSimular .simularCompleto button {
  margin-bottom: 20px;
  margin-left: 15px;
}
.seccionFinalIndex .cardSimular .simularCompleto .textoCardSimular {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 25px;
  padding-left: 15px;
}
.seccionFinalIndex .cardSimular img {
  height: 200px;
  width: 400px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.personasCompleto {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.personasCompleto .ladoIzquierdo {
  width: 48%;
}
.personasCompleto .ladoIzquierdo .formContainer {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-top: 25px;
  border-radius: 8px;
  box-shadow: 0 130px 52px rgba(0, 0, 0, 0.01), 0 8px 18px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 25px;
}
.personasCompleto .ladoIzquierdo .formContainer button {
  margin-top: 20px;
  background-color: #eb192e;
}
.personasCompleto .ladoIzquierdo .formContainer .checkSocio {
  margin-top: 10px;
}
.personasCompleto .ladoIzquierdo .formContainer .checkSocio .form-check {
  margin-top: 10px;
}
.personasCompleto .ladoIzquierdo .datosPrestamoContainer {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-top: 20px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 130px 52px rgba(0, 0, 0, 0.01), 0 8px 18px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 25px;
}
.personasCompleto .ladoIzquierdo .datosPrestamoContainer .datosPrestamo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.personasCompleto .ladoIzquierdo .datosPrestamoContainer .datosPrestamo div {
  margin-top: 11px;
}
.personasCompleto .ladoDerecho {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  margin-top: 25px;
  width: 48%;
  height: 652px;
  border-radius: 8px;
  box-shadow: 0 130px 52px rgba(0, 0, 0, 0.01), 0 8px 18px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 25px;
}
.personasCompleto .ladoDerecho .form-control {
  width: 50%;
}
.personasCompleto .ladoDerecho button {
  background-color: #eb192e;
}
.personasCompleto .ladoDerecho .datosPrestamoBusqueda {
  margin-top: 15px;
}

.buscarTodosContainer {
  display: flex;
  flex-direction: column-reverse;
}
.buscarTodosContainer h2 {
  margin-top: 35px;
  margin-left: 25px;
  text-decoration: overline;
}
.buscarTodosContainer .cardsPrestamo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.buscarTodosContainer .cardsPrestamo div {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 130px 52px rgba(0, 0, 0, 0.01), 0 8px 18px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 25px;
}
.buscarTodosContainer .cardsPrestamo div h4 {
  text-decoration: overline;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.comingSoonConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.comingSoonConteiner h1 {
  margin-top: 10px;
}
.comingSoonConteiner img {
  margin-top: 10px;
  border-radius: 50%;
  height: 650px;
  width: 650px;
  border: 2.5px solid #eb192e;
}
.comingSoonConteiner button {
  margin-top: 30px;
  height: 50px;
  width: 200px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
header img {
  height: 100px;
  width: 200px;
}
header nav {
  background-color: #eb192e;
}
header nav .container-fluid .navbar-brand {
  font-size: 20px;
  text-decoration: overline;
}/*# sourceMappingURL=style.css.map */